# Traefik static configuration
api:
  dashboard: true
  insecure: true # dashboard on :8080 (disable in prod)

entryPoints:
  web:
    address: ":80"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: INFO

accessLog: {}
